<div class=" applyOnImage">
    <div class="container">
        <div class="row pt-5">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <span class="spanHeading mt-5">Get EVERY SINGLE SOLUTIONS.</span>
                <h1 class="display-1 heading">I'm Designer manoj kapasia</h1>
                <p>An effective content designer is also a strong researcher. Content designers research
                    the audience so that they can design effective content for them.
                </p>
                <div class="d-flex flex-row">
                    <button type="button" class="btn-lg navButton  px-5">Learn More</button>
                    <button type="button" class="btn-lg navButton2  ms-3 px-5">Hire Me</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="homeSection mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="areaAbout">Designing With Passion While Exploring The World.</h3>
                <p class="areaPeragraph1 mt-5">Container can be in the form of page’s body tag,
                    an all containing div tag. Without container there would be no place to
                    put the contents of a web page.
                </p>
                <p class="areaPeragraph1 mt-5">The site’s navigation system should be easy to
                    find and use. Oftenly the anvigation is placed rigth at the top of the page.
                </p>
            </div>
            <div class="col-md-5 offset-md-1">
                <h3 class="areaHeading">Any Type Of Query <br>
                    & Discussion.
                </h3>
                <p class="areaParagraph2 mt-5 mb-1">Late talk with me</p>
                <a href="#" class="aboutRef">hire@colorlib.com
                    <i class="fa fa-arrow-right ms-5" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<!-- Service Section First -->

<div class="serviceSection mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="serviceHeading">What Services you will Get from me!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="card mt-2">
                    <div class="card-body cardContent">
                        <span><i class="fa fa-desktop fontServiceIcon" aria-hidden="true"></i></span>
                        <h5><a href="#" class="cardHeading">UX/UI Design</a></h5>
                        <p class="card-text">A CS will focus on describing too much while UX designers
                            can limit words used. When content and UX.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="card mt-2">
                    <div class="card-body cardContent">
                        <span><i class="fa fa-window-restore fontServiceIcon" aria-hidden="true"></i></span>
                        <h5><a href="#" class="cardHeading">Window Restore</a></h5>
                        <p class="card-text">A CS will focus on describing too much while UX designers
                            can limit words used. When content and UX.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="card mt-2">
                    <div class="card-body cardContent">
                        <span><i class="fa fa-laptop fontServiceIcon" aria-hidden="true"></i></span>
                        <h5><a href="#" class="cardHeading">Website Design</a></h5>
                        <p class="card-text"> A CS will focus on describing too much while UX designers
                            can limit words used. When content and UX.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="card mt-2">
                    <div class="card-body cardContent">
                        <span><i class="fa fa-microphone fontServiceIcon" aria-hidden="true"></i></span>
                        <h5><a href="#" class="cardHeading">Digital Marketing</a></h5>
                        <p class="card-text">A CS will focus on describing too much while UX designers
                            can limit words used. When content and UX.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Service Two -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="serviceHeading">What Services you will Get from me!</h2>
        </div>
        <div class="col-md-6 pt-5">
            <ul class="nav justify-content-end"> 
                    <li class="nav-tabs nav-item">
                        <a class="nav-link text-dark" data-bs-toggle="tab" href="#allTab" (click)="hitAnchor1('all')"
                            [ngStyle]="{'border-bottom' : navTabeData=='all' ? 
                                '1px solid red' : null}">All</a>
                    </li>
                    <li class="nav-tabs nav-item">
                        <a class="nav-link text-dark" href="#branding" data-bs-toggle="tab" (click)="hitAnchor1('Branding')"
                            [ngStyle]="{'border-bottom' : navTabeData=='Branding' ? 
                                '1px solid red' : null}">Branding</a>
                    </li>
                    <li class="nav-tabs nav-item">
                        <a class="nav-link text-dark" href="#logo" (click)="hitAnchor1('logo')" [ngStyle]="{'border-bottom' : navTabeData=='logo' ? 
                            '1px solid red' : null}" data-bs-toggle="tab">Logo</a>
                    </li>
                    <li class="nav-tabs nav-item">
                        <a class="nav-link text-dark" (click)="hitAnchor1('uxui')" [ngStyle]="{'border-bottom' : navTabeData=='uxui' ? 
                            '1px solid red' : null}" href="#uxui" data-bs-toggle="tab">UX/UI</a>
                    </li>
                    <li class="nav-tabs nav-item">
                        <a class="nav-link text-dark" href="#webDesign" (click)="hitAnchor1('design')" [ngStyle]="{'border-bottom' : navTabeData=='design' ? 
                            '1px solid red' : null}" data-bs-toggle="tab">Web Design</a>
                    </li>
            </ul>
        </div>
    </div>
    <div class="tab-content mt-2">
        <!-- First Blog -->
        <div class="row tab-pane fade show active" id="allTab">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 mb-3">
                        <img class="img-fluid "
                            src="https://img.freepik.com/free-vector/gradient-ui-ux-background_23-2149024129.jpg?w=2000">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex flex-column justify-content-between mb-3">
                        <div class="allFirstImage">
                            <img class="img-fluid" src="https://wallpaperaccess.com/full/6000167.jpg">
                        </div>
                        <div class="allSecondImage">
                            <img class="img-fluid"
                                src="https://img.freepik.com/free-vector/gradient-ui-ux-background_23-2149052117.jpg?w=2000">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://blog.adobe.com/en/publish/2017/01/10/media_1a7fefc23ab4efd939b88ab6390d83873bc616471.png?width=1200&format=pjpg&optimize=medium">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://cdn.columbiauniversitybootcamp.com/wp-content/uploads/sites/108/2021/09/tes_uxi_blog_image_6-850x412.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://smsh-862737-juc1ugur1qwqqqo4.stackpathdns.com/2569356/wp-content/uploads/2020/09/AdobeStock_331229337-1400x934.jpeg?size=1400x934&lossy=1&strip=1&webp=1">

                    </div>
                </div>
            </div>
        </div>

        <!-- Second Blog -->
        <div class="row tab-pane fade" id="branding">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 mb-3">
                        <img class="img-fluid "
                            src="https://www.code9tech.com/blog/images/web-design-development-blog-2.jpg">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex flex-column justify-content-between mb-3">
                        <div class="allFirstImage">
                            <img class="img-fluid"
                                src="https://www.axiomcreation.com/wp-content/uploads/2018/03/website-development.jpg">
                        </div>
                        <div class="allSecondImage">
                            <img class="img-fluid" src="https://miro.medium.com/max/750/1*zJkojKNpFD9HFGPJLCs15Q.jpeg">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://blog.adobe.com/en/publish/2017/01/10/media_1a7fefc23ab4efd939b88ab6390d83873bc616471.png?width=1200&format=pjpg&optimize=medium">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://cdn.columbiauniversitybootcamp.com/wp-content/uploads/sites/108/2021/09/tes_uxi_blog_image_6-850x412.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://smsh-862737-juc1ugur1qwqqqo4.stackpathdns.com/2569356/wp-content/uploads/2020/09/AdobeStock_331229337-1400x934.jpeg?size=1400x934&lossy=1&strip=1&webp=1">

                    </div>
                </div>
            </div>
        </div>

        <!-- Third Blog -->

        <div class="row tab-pane fade" id="logo">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 mb-3">
                        <img class="img-fluid "
                            src="https://www.kindpng.com/picc/m/194-1943968_web-development-languages-logos-hd-png-download.png">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex flex-column justify-content-between mb-3">
                        <div class="allFirstImage">
                            <img class="img-fluid"
                                src="https://www.kindpng.com/picc/m/137-1372491_g-web-developers-web-developer-logo-png-transparent.png">
                        </div>
                        <div class="allSecondImage">
                            <img class="img-fluid"
                                src="https://www.seekpng.com/png/detail/492-4929420_web-development-clipart-logo-png-web-development-logo.png">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://blog.adobe.com/en/publish/2017/01/10/media_1a7fefc23ab4efd939b88ab6390d83873bc616471.png?width=1200&format=pjpg&optimize=medium">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://cdn.columbiauniversitybootcamp.com/wp-content/uploads/sites/108/2021/09/tes_uxi_blog_image_6-850x412.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://smsh-862737-juc1ugur1qwqqqo4.stackpathdns.com/2569356/wp-content/uploads/2020/09/AdobeStock_331229337-1400x934.jpeg?size=1400x934&lossy=1&strip=1&webp=1">

                    </div>
                </div>
            </div>
        </div>

        <!-- Forth Blog -->

        <div class="row tab-pane fade" id="uxui">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 mb-3">
                        <img class="img-fluid "
                            src="https://www.digitalmogli.com/wp-content/uploads/2020/03/web-design.png">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex flex-column justify-content-between mb-3">
                        <div class="allFirstImage">
                            <img class="img-fluid"
                                src="https://www.aziza.com.ng/listing/wp-content/uploads/2020/06/Web-Development.jpg">
                        </div>
                        <div class="allSecondImage">
                            <img class="img-fluid"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtq52k2itfQUrMgLZHE3Wa3Qe2F092LHegDetL2ulzx-gg0_zNGSzfQ8pgbafNN6dit-8&usqp=CAU">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://blog.adobe.com/en/publish/2017/01/10/media_1a7fefc23ab4efd939b88ab6390d83873bc616471.png?width=1200&format=pjpg&optimize=medium">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://cdn.columbiauniversitybootcamp.com/wp-content/uploads/sites/108/2021/09/tes_uxi_blog_image_6-850x412.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://smsh-862737-juc1ugur1qwqqqo4.stackpathdns.com/2569356/wp-content/uploads/2020/09/AdobeStock_331229337-1400x934.jpeg?size=1400x934&lossy=1&strip=1&webp=1">

                    </div>
                </div>
            </div>
        </div>

        <!-- Fifth Blog -->

        <div class="row tab-pane fade" id="webDesign">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 mb-3">
                        <img class="img-fluid "
                            src="https://insights.dice.com/wp-content/uploads/2021/01/shutterstock_1233726961.jpg">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex flex-column justify-content-between mb-3">
                        <div class="allFirstImage">
                            <img class="img-fluid"
                                src="https://qph.cf2.quoracdn.net/main-qimg-71bdec7c87566fb99f8e3cf0ddd36a72-lq">
                        </div>
                        <div class="allSecondImage">
                            <img class="img-fluid" src="https://aolbrampton.ca/images/web_developer.jpg">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://blog.adobe.com/en/publish/2017/01/10/media_1a7fefc23ab4efd939b88ab6390d83873bc616471.png?width=1200&format=pjpg&optimize=medium">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://cdn.columbiauniversitybootcamp.com/wp-content/uploads/sites/108/2021/09/tes_uxi_blog_image_6-850x412.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">
                        <img class="img-fluid allCommonImage"
                            src="https://smsh-862737-juc1ugur1qwqqqo4.stackpathdns.com/2569356/wp-content/uploads/2020/09/AdobeStock_331229337-1400x934.jpeg?size=1400x934&lossy=1&strip=1&webp=1">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Some Positive Feedback -->

<div class="feedback mb-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <h2 class="feedbackHeading">Some Possitive Feedback That Encourage Us</h2>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="card mx-3">
                        <div class="card-body p-5">
                            <div class="row" style="flex-wrap:none">
                                <div class="col-md-4">
                                    <img src="https://thumbs.dreamstime.com/b/caucasian-female-casual-wear-skilled-web-content-writer-using-applications-laptop-computer-caucasian-female-casual-wear-158790533.jpg" 
                                    class="card-img-top rounded-circle" alt={elonMusk}  />
                                </div>
                                <div class="col-md-8">
                                    <h2 class="carouselCardH2 mt-2">Nitin Samalkha</h2>
                                    <span class="carouselCardSpan">Mean Stack Developer</span>
                                </div>
                            </div>
                            <p class="card-text carouselCardP mt-3"> MEAN stack development refers to the development process that falls 
                                within these particular set of technologies MongoDB, Expressjs, AngularJs, NodeJS.
                            </p>
                        </div>
                      </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card mx-3">
                        <div class="card-body p-5">
                            <div class="row" style="flex-wrap:none">
                                <div class="col-md-4">
                                    <img src="https://image.shutterstock.com/image-photo/portrait-freelance-graphic-designer-sitting-260nw-582865090.jpg" 
                                    class="card-img-top rounded-circle" alt={elonMusk}  />
                                </div>
                                <div class="col-md-8">
                                    <h2 class="carouselCardH2 mt-2">Mohit Kumar</h2>
                                    <span class="carouselCardSpan">Mean Stack Developer</span>
                                </div>
                            </div>
                            <p class="card-text carouselCardP mt-3"> MEAN stack development refers to the development process that falls 
                                within these particular set of technologies MongoDB, Expressjs, AngularJs, NodeJS.
                            </p>
                        </div>
                      </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="card mx-3">
                        <div class="card-body p-5">
                            <div class="row" style="flex-wrap:none">
                                <div class="col-md-4">
                                    <img src="https://st2.depositphotos.com/1017228/11556/i/950/depositphotos_115560716-stock-photo-man-designer-working-using-computer.jpg" 
                                    class="card-img-top rounded-circle" alt={elonMusk}  />
                                </div>
                                <div class="col-md-8">
                                    <h2 class="carouselCardH2 mt-2">Rishabh Mittal</h2>
                                    <span class="carouselCardSpan">Mean Stack Developer</span>
                                </div>
                            </div>
                            <p class="card-text carouselCardP mt-3"> MEAN stack development refers to the development process that falls 
                                within these particular set of technologies MongoDB, Expressjs, AngularJs, NodeJS.
                            </p>
                        </div>
                      </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="card mx-3">
                        <div class="card-body p-5">
                            <div class="row" style="flex-wrap:none">
                                <div class="col-md-4">
                                    <img src="https://c8.alamy.com/comp/R2G0M5/young-male-programmer-writing-a-program-code-sitting-at-the-workplace-with-three-monitors-in-the-office-R2G0M5.jpg" 
                                    class="card-img-top rounded-circle"  />
                                </div>
                                <div class="col-md-8">
                                    <h2 class="carouselCardH2 mt-2">Ajay Taneja</h2>
                                    <span class="carouselCardSpan">Mean Stack Developer</span>
                                </div>
                            </div>
                            <p class="card-text carouselCardP mt-3"> MEAN stack development refers to the development process that falls 
                                within these particular set of technologies MongoDB, Expressjs, AngularJs, NodeJS.
                            </p>
                        </div>
                      </div>
                </ng-template>   
              </owl-carousel-o>
        </div>
    </div>
</div>

<div id="carouselExampleSlidesOnly" class="carouselSlide" data-bs-ride="carousel">
    <div class="container">
        <owl-carousel-o [options]="customOptions1">
            <ng-template carouselSlide>
                <img src="https://thumbs.dreamstime.com/b/quality-management-7723521.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img src="https://thumbs.dreamstime.com/b/quality-diagram-defining-relevant-topics-regarding-management-36181210.jpg">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="https://thumbs.dreamstime.com/b/five-components-quality-assurance-components-quality-assurance-117564754.jpg"> 
            </ng-template>
            <ng-template carouselSlide>
                <img src="https://thumbs.dreamstime.com/b/markers-outcomes-employee-engagement-102727851.jpg">
            </ng-template> 
            <ng-template carouselSlide>
                <img src="https://thumbs.dreamstime.com/b/mind-map-questions-whiteboard-w-s-sales-qualification-who-why-what-where-how-to-solve-problem-sketched-34107918.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img src="https://thumbs.dreamstime.com/b/quality-assurance-important-components-85744092.jpg">
            </ng-template>    
              
        </owl-carousel-o>
    </div>
  </div>

<!-- Last Information content -->

<div class="formContent p-5">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-5 col-lg-7">
                <h3 class="formHeading">If Not Now, When? Let’s Work Together!</h3>
                <p class="carouselCardP">Don’t always scrape and search for compliments. Criticism is what builds character and strength.
                    Let no feeling of discouragement prey upon you, and in the end you are sure to succeed.
                </p>
                <img src="https://static.cdn.wisestamp.com/wp-content/uploads/2020/08/Thomas-Jefferson-autograph.svg-1024x637.png"
                height="70px" width="150px">
            </div>
            <div class="col-xl-5 col-lg-5">
                <form action="#" class="contact-wrapper">
                    <input type="text" name="name" placeholder="Full Name">
                    <input type="email" name="email" placeholder="Email">
                    <textarea name="message" placeholder="Your message" rows="3"></textarea>
                    <button type="button">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>


